* {
 margin: 0px;
 padding: 0px;
  }
  

a {
  text-decoration: none;
}

.main {
 background: #f8f8f8;
}

.select-reason-contents {
 padding: 5vh 15vw;
}

.title-contents {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
}

.list-pict {
 margin-bottom: 20px;
 width: 100%;
}

.index-title {
 font-size: 5vh;
 color: #bb8064;
 font-weight: bold;
 text-align: center;
}

.reason-lists {
  display: flex;
  justify-content: space-around;
}

.list-pict{
 margin-bottom: 20px;
 width: 100%;
}

.reason-list-description{
 font-size: 20px;
 margin-top: 20px;
 font-weight: 600;
 text-align: center;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
  text-decoration: none; 

}

.item-price {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  text-decoration: none;
}

.title2 {
  font-size: 35px;
  font-weight: 600;
}

.list {
  list-style: none;
}

.move-list{
  width: 40vh;
}