<%= render "shared/header" %>
<div class='main'>
 <div class='select-reason-contents'>
    <h2 class='index-title'>Qeity(ｸｴｲﾃｨｰ)とは？</h2>
 </div>
  <ul class='reason-lists'>
   <li class='list'>
     <%= image_tag " ", class:"list-pict" %>
     <p class='reason-list-description'>製作過程の様子を動画で見ながら即入札可能！</p>
    </li>
    <li class='list'>
     <%= image_tag " ", class:"list-pict" %>
     <p class='reason-list-description'>作品に製作段階から関われる！</p>
   </li>
   <li class='list'>
    <%= image_tag " ", class:"list-pict" %>
    <p class='reason-list-description'>落札後は出来立ての創作品が直配送！</p>
   </li>
  </ul>
</div>
<%#render "shared/footer" %>