.ad-footer-contents {
 background-color: #fffae5;
 height: 10vw;
 width: 100vw;
 position: absolute;
 bottom: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: absolute;/*←絶対位置*/
 bottom: 0; /*下に固定*/
}

 .footer {
  width: 100vw;
  min-height: 30vh;
  padding: 5vh 0;
  color: #579A62;
  background-color: #fffae5;
  text-align: center;
  position: relative;/*←相対位置*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


.search-form {
 width: 65vw;
 height: 5vh;
 display: flex;
 margin-bottom: 5px;
}

.search-form>.input-box {
 width: 100%;
 height: 5vh;
 padding-left: 10px;
}

.footer-contents {
 display: flex;
 justify-content: center;
 margin-bottom: 5vh;
}

.furima-details {
 margin: 0 4vw;
}

.footer-content-head {
 font-size: 18px;
 font-weight: bold;
 margin-bottom: 10px;
}

.footer-link {
 color:#579A62;;
 font-size: 12px;
 line-height: 30px;
}

.logo-white {
 width: 20vh;
 vertical-align: bottom;
}

.footer>p {
 font-size: 14px;
}
